

/* Global */
* {
    /* #2 #font #faces */
    font-family: 'Robot', 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}a

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
    text-align: center;
}

button, strong {
    /* #2 #font capital #letters */
    text-transform: uppercase;
}

/* App bar */
h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

/* Channels list */
ol {
    background-color: white;
    list-style-type: none;
}

ol li h2 {
    padding: 16px 16px 16px 16px;
    font-size: 16px;
    box-sizing: border-box;
    height: 48px;
    border-bottom: 1px solid #F5F5F5;
}

ol li h2 img {
    display: inline;
    vertical-align: middle;
}

ol li.selectedChannel {
    border-left: 4px solid #3F51B5;
    color: #3F51B5;
}

/* Tab bar */
div#tab-bar {
    background-color: white;
    width: 80%;
    margin: auto;
}

#tab-bar button {
    /* #2 #colourful #plusfive */
    background-color: white;
    border: none;
    font-size: 13px;
    width: 33%;
    height: 72px;
    padding: 16px;
    box-sizing: border-box;
}

div#tab-bar button img {
    display: block;
    margin: auto;
}

div#tab-bar button.selected {
    border-bottom: 4px solid #3F51B5;
}

/* Messages */
.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
}

.message h3 {
    font-size: medium;
}

.message.user {
    margin-left: 17.5%;
}

.message p {
    /* #2 #colorful #channelandchat */
    background-color: white;
    padding: 16px 16px 16px 16px;
}

.message h3 em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    color: black;
}
